* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: #eeaeca; */
  background: #181e5f;
  color: black;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Geist;
}

main {
  display: flex;
  flex-direction: column;
  gap: 17.5px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

div.midCards a{
  flex:1;
}

* {
  margin: 0;
  padding: 0;
  /* line-height: 1.5 !important; */
}

h1 {
  text-align: center;
  font-size: larger;
  font-weight: 600;
  color: white;
}

div#greetings {
  /* margin:10px 0; */
  display: flex;
  gap: 3px;
  flex-direction: column;
}
div#greetings p {
  color: white;
}

h2#time {
  color: white;
}
main {
  padding: 10px;
}
.buttons {
  display: flex;
  gap: 5px;
  flex: 1;
  justify-content: end;
  align-items: center;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px white;
}

.buttons button#sign {
  background-color: green;
  color: white;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  align-items: center;
  color: white;
  padding: 10px;
}

div.card {
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

div.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.topCard div.card h2 {
  color: rgb(19, 160, 19);
  font-weight: bold;
}

p {
  color: #4d4d4d;
  font-size: medium;
}

div.midCards,
div.bottomCards {
  display: flex;
  gap: 10px;
  /* flex-wrap:wrap; */
  justify-content: center;
  align-items: center;
}

div.midcards div.card {
  cursor: pointer; 
}

div#userBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  color:white;
}

nav p{
  color:white
}

#userBtns button {
  background-color: oklch(0.577 0.245 27.325);
  color: white;
  padding: 0.35rem 0.75rem;
  border: none;
  border-radius: 6px;
}

#pic img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}
div.centerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

div.centerWrapper div.icon {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color:rgba(236, 172, 183, 0.479);
}
